body{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url(/torre\ de\ pisa.jpg) center center fixed no-repeat;
    animation-name: diapo;
    background-size: cover;
    animation-timing-function: linear;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
}

nav{
    background-color: rgb(245, 172, 14) ;
}

nav ul li{
    float: left;
    list-style-type: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

}
ul{
    margin: 0px;
    padding: 0px;

}
ul li a{
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
    color: white;
}
ul li:hover a{
    background-color: beige;
    color: black;
    font-weight: 400;
    padding: 20px 30px;
}
nav ul::after{
    content: "";
    clear: both;
    display: block;
}
header{
    margin-top:0px;
    opacity: 1.9px;
}
/*definition du body*/
.ac{
    text-align: center;
    margin-top: 150px;
    font-size: 20px;
}
#foot{
    margin: 200px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: auto;
    background-color: coral;
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#foot div p{
    text-align: center;
}
div #tete{
    opacity: 0.8;
}
